body {
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    color: white;
}

h1 {
    background-color: dodgerblue;
    text-align: center;
    padding: 20px;
}

.container {
    padding: 10px;
    background-color: black;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
}

#options-div {
    grid-column: span 2 / span 2;
    background-color: blue;
    padding: 50px;
}

#radio label {
	float: right;
    display: inline
}

radio {
    display: inline;
}

.div-color {
    background-color: hotpink;
    padding: 10px;
    margin: 5px;
}
/*css above is for small ui (mobile screens)*/

/*css below is for desktop ui (big screens)*/
@media (min-width: 768px) {

    .container {
        grid-template-columns: repeat(5, 1fr);
    }
 
    .header-styling {
        font-size:5rem;
        color: red;
    }

}