<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home Page</title>
    <meta name="description" content="A website that visualises political sentiment from Reddit">

    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/scripts.js"></script>
</head>

<body>
  <h1>Home</h1>

  <section class="container">
      <div id="options-div" class="div-color">
          <p>Search for Subreddit or User</p>
          <input type="radio" name="page" id="subredditPage" value="subredditPage"/><label>Subreddit</label>
          <input type="radio" name="page" id="usernamePage" value="usernamePage"/><label>Username</label>
          <br>
          <input type="text" id="page-search" placeholder="E.g. LabourUK">

          <p><label id="amount-label">Enter Number of Posts</label></p>
          <input type="text" id="no-posts" placeholder="E.g. 3">

          <p>Select Sort Type</p>
          <input type="radio" name="sort" value="new"/><label>New</label>
          <input type="radio" name="sort" value="hot"/><label>Hot</label>
          <input type="radio" name="sort" value="top"/><label>Top</label>

          <br>

          <button id="show-res-btn" onclick="getComments()">
              Click to view comments
          </button>
      </div>

      <div id="table-div" style="grid-column: span 3 / span 3; background-color: white; padding: 0px;" class="div-color">
        <table id="table"></table>
    </div>
  </section>

</body>
</html>